{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block title %}
    <title>Edit Student</title>
{% endblock %}

{% block header %}
    <h1>Edit Student</h1>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        {{form|crispy}}

      <input class="btn btn-success" type="submit" value="Save">
      <input class="btn btn-danger" formaction="{% url 'students:delete' student.uuid %}" type="submit" value="Delete">
    </form>

{% endblock %}