{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block title %}
    <title>Create group</title>
{% endblock %}

{% block header %}
    <h1>Create group</h1>
{% endblock %}


{% block content %}
    <form method="post">
        {% csrf_token %}

        {{form|crispy}}
     <input class="btn btn-success" type="submit" value="Create">
    </form>
{% endblock %}