{% extends 'base.html'%}

{% block title %}
    <title>Groups list</title>
{% endblock %}

{% block header %}
    <h1>Groups list</h1>
{% endblock %}


{% block content %}
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Group name</span>
            </div>
            <input name="first_name" type="text" class="form-control" placeholder="Enter group name" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">Course</span>
            </div>
            <input name="last_name" type="text" class="form-control" placeholder="Enter course" aria-label="Username" aria-describedby="basic-addon1">
        </div>

      <input class="btn btn-primary" type="submit" value="Search">
      <input class="btn btn-success" formaction="{% url 'groups:create' %}" type="submit" value="Create"><br><br>
    </form>

{% include 'includes/groups-table.html' %}

{% endblock %}