{% extends 'base.html'%}
{% load crispy_forms_tags %}


{% block title %}
    <title>Edit teacher</title>
{% endblock %}

{% block header %}
    <h1>Edit teacher</h1>
{% endblock %}


{% block content %}
    <form method="post">
        {% csrf_token %}

        {{form|crispy}}

        <input class="btn btn-success mb-3" type="submit" value="Save">
        <input class="btn btn-danger mb-3" formaction="{% url 'teachers:delete' teacher.uuid %}" type="submit" value="Delete">
    </form>

{% include 'includes/groups-table.html' %}

{% endblock %}