{% extends 'base.html'%}

{% block title %}
    <title>Teachers list</title>
{% endblock %}

{% block header %}
    <h1>Teachers list</h1>
{% endblock %}


{% block content %}
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">First name</span>
            </div>
            <input name="first_name" type="text" class="form-control" placeholder="Enter first name" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">Last name</span>
            </div>
            <input name="last_name" type="text" class="form-control" placeholder="Enter last name" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Rating:</span>
            </div>
            <input name="rating" type="number" class="form-control" placeholder="Enter rating" aria-label="Username" aria-describedby="basic-addon1">
        </div>

         <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon4">Email:</span>
            </div>
            <input name="email" type="number" class="form-control" placeholder="Enter email" aria-label="Username" aria-describedby="basic-addon1">
        </div>

      <input class="btn btn-primary" type="submit" value="Search">
      <input class="btn btn-success" formaction="{% url 'teachers:create' %}" type="submit" value="Create"><br><br>
    </form>

    <table class="table table-striped table-dark">
        <tr>
            <th>Edit</th>
            <th>ID</th>
            <th>Teacher First Name</th>
            <th>Teacher Last Name</th>
            <th>Rating</th>
            <th>Email</th>
            <th>Certification date</th>
        </tr>
    {% for teacher in teachers %}
        <tr>
            <td><a href="{% url 'teachers:edit' teacher.uuid %}">EDIT✎</a></td>
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.rating }}</td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.certification_date }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}