<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<table>
    <tr>
        <th>Edit</th>
        <th>ID</th>
        <th>Group №</th>
        <th>Course</th>
        <th>Teacher First Name</th>
        <th>Teacher Last Name</th>
    </tr>
    {% for group in groups %}
    <tr>
        <td><a href='{% url "groups:edit" group.uuid %}'>EDIT✎</a></td>
        <td>{{group.id}}</td>
        <td>{{group.first_name}}</td>
        <td>{{group.course}}</td>
        <td>{{group.teacher.first_name}}</td>
        <td>{{group.teacher.last_name}}</td>
    </tr>
    {% endfor %}

</table>
