{% extends 'base.html' %}

{% block content %}

<!--<ul>-->
<!--    <li><a href="{% url 'students:list' %}">Students list</a></li>-->
<!--    <li><a href="{% url 'groups:list' %}">Groups list</a></li>-->
<!--    <li><a href="{% url 'teachers:list' %}">Teachers list</a></li>-->
<!--</ul>-->
{% endblock %}