<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<table>
    <tr>
        <th>Edit</th>
        <th>ID</th>
        <th>Student First Name</th>
        <th>Student Last Name</th>
        <th>Rating</th>
        <th>Phone</th>
        <th>Course</th>
    </tr>

    {% for student in students %}
    <tr>
        <td><a href="{% url 'students:edit' student.uuid%}">EDIT✎</a></td>
        <td>{{ student.id }}</td>
        <td>{{ student.first_name }}</td>
        <td>{{ student.last_name }}</td>
        <td>{{ student.rating }}</td>
        <td>{{ student.phone_number }}</td>
        <td>{{ student.group.course }}</td>
    </tr>
    {% endfor %}

</table>
